<ion-view>
	<ion-content>
		<div class="row">
			<div class="col text-center">
				<h1>Welcome</h1>
			</div>
		</div>
		<div class="list list-inset">
			<label class="item item-input">
				<input ng-model="welcomeCtrl.matchNumber"
					type="tel"
					maxlength="6"
					placeholder="Match Number">
			</label>
			<label class="item item-input">
				<input ng-model="welcomeCtrl.teamNumber"
					type="tel"
					maxlength="6"
					placeholder="Team Number">
			</label>
			<div class="item item-button">
				<div class="text-center">
					<button class="button button-positive"
							ng-click="welcomeCtrl.goToAuton()"
							ng-disabled="welcomeCtrl.isFormValid()">
					Start Scouting!
				</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>