<!-- <div class="row"> -->
	<ul class="list">
		<li class="item item-toggle">
			Touch Defense?
			<label class="toggle">
				<input type="checkbox" 
					ng-model="$ctrl.autoScore.touchDef">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label> 
		</li>
		<li class="item item-toggle">
			Cross Defense?
			<label class="toggle">
				<input type="checkbox"
					ng-disabled="!$ctrl.autoScore.touchDef"
					ng-model="$ctrl.autoScore.crossDef">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label> 
		</li>
		<li class="item item-toggle">
			Low Goal?
			<label class="toggle">
				<input type="checkbox"
					ng-disabled="!$ctrl.autoScore.crossDef"
					ng-model="$ctrl.autoScore.lowGoal">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label> 
		</li>
		<li class="item item-toggle">
			High Goal
			<label class="toggle">
				<input type="checkbox"
					ng-disabled="!$ctrl.autoScore.crossDef"
					ng-model="$ctrl.autoScore.highGoal">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label> 
		</li>
	</ul>
	<div class="row">
		<div class="col col-100 text-right">
			<button class="button button-positive"
					ng-click="$ctrl.submit()">
				Done!
			</button>
		</div>
	</div>
